<div class="row">
    <div class="col-md-12" id="formComponent">
        <h3 class="text-center mat-title">
            <i class="fa fa-plane"></i> REGISTRA TU VIAJE</h3>
        <form novalidate="novalidate" [formGroup]="viajarForm">
            <div class="form-bootstrapWizard clearfix">
                <ul class="bootstrapWizard">
                    <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                        <a (click)="setActiveStep(pane)">
                            <span class="step">
                                <span *ngIf="!pane.checked">{{i + 1}}</span>
                                <i class="fa fa-check" *ngIf="pane.checked"></i>
                            </span>
                            <span class="title">{{pane.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                    <br>
                    <h3>
                        <strong> ¿Desde donde quieres viajar?</strong>
                    </h3>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" [ngClass]="{'has-success':viajarForm.get('pais_origen').valid && activeStep.submiatted, 'has-error':!viajarForm.get('pais_origen').valid && activeStep.submitted }">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar fa-lg fa-fw"></i> Origen
                                    </span>
                                    <input class="form-control input-lg" placeholder="Lugar de Origen" type="text" name="origen" formControlName="pais_origen"
                                        readonly>
                                </div>
                                <span [class.hidden]="viajarForm.get('pais_origen').valid || !activeStep.submitted" class="help-block">
                                    Por favor ingrese una pais valido
                                </span>
                            </div>
                        </div>
                    </div>
                    <h3>
                        <strong> ¿A donde quieres viajar?</strong>
                    </h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group" [ngClass]="{'has-success':viajarForm.get('pais_destino').valid && activeStep.submitted, 'has-error':!viajarForm.get('pais_destino').valid && activeStep.submitted }">
                                    <span class="input-group-addon">
                                        <i class="fa fa-flag fa-lg fa-fw"></i> Pais
                                    </span>
                                    <select name="pais_destino" formControlName="pais_destino" class="form-control input-lg" (change)="onSelectPais()">
                                        <option value="" hidden>-- seleccione --</option>
                                        <option *ngFor="let pais of paises" value="{{pais.codigo}}">{{pais.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group" [ngClass]="{'has-success':viajarForm.get('ciudad_destino').valid && activeStep.submitted, 'has-error':!viajarForm.get('ciudad_destino').valid && activeStep.submitted }">
                                    <span class="input-group-addon">
                                        <i class="fa fa-flag fa-lg fa-fw"></i> Ciudad
                                    </span>
                                    <select name="ciudad_destino" formControlName="ciudad_destino" class="form-control input-lg">
                                        <option value="" hidden>-- seleccione --</option>
                                        <option *ngFor="let ciudad of ciudades_posibles" value="{{ciudad.codigo}}">{{ciudad.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                    <br>
                    <h3>
                        <strong>Paso 2</strong> - Seleccina las fechas </h3>

                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <mat-form-field class="example-full-width" style="width: 100%;">
                                <input matInput [matDatepicker]="picker" formControlName="fecha_ida" placeholder="Fecha de ida" readonly>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button style="width: 100%;" (click)="picker.open()">Seleccionar</button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <mat-form-field class="example-full-width" style="width: 100%;">
                                <input matInput [matDatepicker]="picker2" formControlName="fecha_regreso" placeholder="Fecha de regreso" readonly>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button style="width: 100%;" (click)="picker2.open()">Seleccionar</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                    <br>
                    <h3>
                        <strong>Paso 3</strong> - Seleccina los vuelos que mas te convienen </h3>
                        <button class="btn bt-primary btn-sm" (click)="consultarVuelos()">consultar</button>

                    <div class="row" *ngIf="vuelos && vuelos.ida && vuelos.ida.length > 0 ; else NohayVuelos">
                        <div class="col-md-12 text-center">
                            <h3>Vuelos de ida</h3>
                        </div>
                        <div class="col-md-12">
                            <airstrike-vuelo-consulta [vuelos]="vuelos.ida"></airstrike-vuelo-consulta>
                        </div>
                    </div>
                    <div class="row" *ngIf="vuelos && vuelos.regreso && vuelos.regreso.length > 0 ; else NohayVuelos">
                        <div class="col-md-12 text-center">
                            <h3>Vuelos de regreso</h3>
                        </div>
                        <div class="col-md-12">
                            <airstrike-vuelo-consulta [vuelos]="vuelos.regreso"></airstrike-vuelo-consulta>
                        </div>
                    </div>
                </div>                

                <ng-template #NohayVuelos>
                    <h1>No se han registrado vuelos para esas fechas</h1>
                </ng-template>

                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pager wizard">
                                <li class="previous">
                                    <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Anterior
                                    </a>
                                </li>
                                <li class="next">
                                    <a (click)="nextStep()" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken">
                                        Siguiente
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>