<h1 mat-dialog-title>Registro de Horarios</h1>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="horario-form">
        <form class="horario-form" [formGroup]="horarioForm">
          <div class="row">
              <div class="col-md-4">
                <h4>Hora:</h4>
              </div>
              <div class="col-md-8">
                  <timepicker formControlName="hora" [(ngModel)]="mytime"></timepicker>
                </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <h4>Tiempo Abordaje:</h4>
              </div>
              <div class="col-md-8">
                  <timepicker formControlName="tiempo_abordaje" [(ngModel)]="mytime2"></timepicker>
                </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <h4>Tiempo Desabordaje:</h4>
              </div>
              <div class="col-md-8">
                  <timepicker formControlName="tiempo_desabordaje" [(ngModel)]="mytime3"></timepicker>
                </div>
          </div>
          </form>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  
  <button mat-button (click)="onCerrar()">Cerrar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!horarioForm.valid" (click)="registrarHorario()">Registrar</button>
</div>