<form class="usuario-form" [formGroup]="usuarioForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="ingrese el nombre de usuario">
        <mat-label>
          <mat-icon>perm_identity</mat-icon>
          Nombre de usuario
        </mat-label>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="ingrese la contraseña">
        <mat-label>
          <mat-icon>perm_identity</mat-icon>
          Contraseña
        </mat-label>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-select formControlName="id_rol">
          <mat-option>-- Seleccione --</mat-option>
          <mat-option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.nombre}}</mat-option>
        </mat-select>
        <mat-label>
          <mat-icon>wc</mat-icon>
          Rol de usuario
        </mat-label>
      </mat-form-field>
    </div>
    
    <div class="col-md-6">
      <mat-form-field>
        <mat-select formControlName="id_estado">
          <mat-option>-- Seleccione --</mat-option>
          <mat-option value="1">activo</mat-option>
          <mat-option value="2">incativo</mat-option>
          <mat-option value="3">bloqueado</mat-option>
        </mat-select>
        <mat-label>
          <mat-icon>wc</mat-icon>
          Estado
        </mat-label>
      </mat-form-field>
    </div>
  </div>
  
</form>