<h1 mat-dialog-title>Registro de Capacidad de las Clases</h1>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="capacidad-clase-form">
      <form class="capacidad-clase-form" [formGroup]="capacidad_claseForm">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="number" placeholder="Cantidad" formControlName="cantidad" min="1">
                <!--<mat-error *ngIf="options.get('fontSize')?.invalid">Asientos minimos 1</mat-err>-->
                <mat-label>
                  <mat-icon>airline_seat_recline_normal</mat-icon>
                  Cantidad
                </mat-label>
              </mat-form-field>
            </div>
              <div class="col-md-6">
                  <mat-form-field>
                    <mat-select formControlName="id_clases">
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option value="1">clases 1</mat-option>
                      <mat-option value="2">clases 2</mat-option>
                      <mat-option value="2">clases 3</mat-option>
                    </mat-select>
                    <mat-label>
                      <mat-icon>airplanemode_active</mat-icon>
                      Clases
                    </mat-label>
                  </mat-form-field>
                </div>
            </div>
           
            
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                      <mat-select formControlName="modelo_avion_id">
                        <mat-option>-- Seleccione --</mat-option>
                        <mat-option value="1">modelo_avion 1</mat-option>
                        <mat-option value="2">modelo_avion 2</mat-option>
                        <mat-option value="2">modelo_avion 3</mat-option>
                      </mat-select>
                      <mat-label>
                        <mat-icon>airplanemode_active</mat-icon>
                        Modelo de Avión
                      </mat-label>
                    </mat-form-field>
                  </div>
            </div>
          
      </form>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCerrar()">Cerrar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!capacidad_claseForm.valid" (click)="registrarCapacidadClase()">Registrar</button>
</div>