
<header id="header" class="animated fadeInDown">

  <div id="logo-group" routerLink="/inicio">
    <span id="logo"> <img src="assets/img/logo_airstrike.png" alt="AirStrike"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">¿Desea registrarse?</span> <a routerLink="/acceso/register" class="btn btn-success">Crear cuenta</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <h1 class="txt-color-orangeDark login-header-big">Air Strike</h1>
  
          <div class="hero">
            <div class="pull-left login-desc-box-l">
              <h4 class="paragraph-header">Experimenta el primer dia de tu nueva vida, registrate y siente lo que es vivir!</h4>
  
              <div class="login-app-icons">
                <a routerLink="/inicio" class="btn btn-info btn-lg">Regresar al inicio</a>
              </div>
            </div>
            <img src="assets/img/airs.png" class="pull-right display-image" alt="" style="width:100%; max-width:300px; position: absolute">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <form class="smart-form client-form" [formGroup]="loginForm">
              <header>
                Ingreso
              </header>
              <fieldset>
                <section>
                  <label class="label">Usuario</label>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input formControlName="usuario" type="text" name="usuario" data-smart-validate-input="" data-required="" data-message-required="Ingrese su usuario" >
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                      Ingrese su usuario</b></label>
                </section>
                <section>
                  <label class="label">Contraseña</label>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input  formControlName="password" type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Ingrese su contraseña">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su contraseña</b> </label>
                    
  
                  <div class="note">
                    <a routerLink="/acceso/forgot-password">¿Olvido la contraseña?</a>
                  </div>

                </section>
                <section *ngIf="error > 0 && error < 3" >
                  <alert class="bg-color-yellow">El usuario no posee permisos 
                    <i class="fa fa-exclamation"></i>
                </alert>
                </section>
                <section *ngIf="error == 3" >
                  <alert class="bg-color-red">Usuario bloqueado
                    <i class="fa fa-exclamation"></i>
                </alert>
                </section>
              </fieldset>
             
              <footer>
                <button (click)="login($event)" class="btn btn-primary" [disabled]="error == 3">
                  Ingresar
                </button>
              </footer>
            </form>
          </div>
          <h5 class="text-center"> - Redes sociales -</h5>
          <ul class="list-inline text-center">
            <li>
              <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  