<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <a routerLink="/auth/register" class="btn btn-danger">Create account</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
        <h1 class="txt-color-orangeDark login-header-big">AirStrike</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Experimenta el primer dia de tu nueva vida, registrate y siente lo que es vivir!</h4>
            <div class="login-app-icons">
              <a routerLink="/inicio" class="btn btn-info btn-lg">Regresar al inicio</a>
            </div>
          </div>
          <img src="assets/img/airs.png" class="pull-right display-image" alt="" style="width:100%; max-width:300px; position: absolute">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form id="login-form" class="smart-form client-form">
            <header>
              Restauracion de contraseña
            </header>
            <fieldset>

              <section>
                <label class="label">Ingresa tu nombre de usuario</label>
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email">
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-envelope txt-color-teal"></i> Por favor ingresa el nombre de usuario correcto para restaurar la contraseña</b>
                </label>
              </section>
              <section>
                <span class="timeline-seperator text-center text-primary">
                  <span class="font-sm">O</span>
                </span>
              </section>
              <section>
                <label class="label">Por correo electronico</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username">
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-user txt-color-teal"></i> Ingresa tu correo electronico</b>
                </label>
                <div class="note">
                  <a routerLink="/acceso/login">Ya recorde la contraseña!</a>
                </div>
              </section>

            </fieldset>
            <footer>
              <button (click)="submit($event)" class="btn btn-primary">
                <i class="fa fa-refresh"></i> Restaurar contraseña
              </button>
            </footer>
          </form>

        </div>

        <h5 class="text-center">- Redes sociales -</h5>

        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>