<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/viajar" title="Viajar">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Travel' | i18n}}</span></a>

        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Mis viajes' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Viajar' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Historial' | i18n}} </a>
          </li>
        </ul>

      </li>

      <li routerLinkActive="active">
        <a routerLink="/cliente" title="Cliente">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Client' | i18n}}</span></a>

        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Gestionar' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/cliente/lista">{{'Client list' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Permisos' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Roles' | i18n}} </a>
          </li>
        </ul>

      </li>

      <li routerLinkActive="active">
        <a routerLink="/aeropuertos" title="Aeropuertos">
          <i class="fa fa-plane"></i> <span class="menu-item-parent">{{'Aeropuertos' | i18n}}</span></a>

        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Gateway' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Aeropuertos' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Horarios' | i18n}} </a>
          </li>
        </ul>

      </li>
      <!--Menu generales-->
      <li routerLinkActive="active">
        <a routerLink="/generales" title="Generales">
          <i class="fa fa-globe"></i> <span class="menu-item-parent">{{'Generales' | i18n}}</span></a>

        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Pais' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Ciudad' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Modelos de avion' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Precio de las clases' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Tipos de clases' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Capacidad de las clases' | i18n}} </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Tipos de avión' | i18n}} </a>
          </li>
        </ul>

      </li>
<!--Menu Linea Aerea-->
<li routerLinkActive="active">
  <a routerLink="/linea-aerea" title="Lineas Aereas">
    <i class="fa fa-paper-plane"></i> <span class="menu-item-parent">{{'Lineas Aéreas' | i18n}}</span></a>

  <ul>
    <li routerLinkActive="active">
      <a routerLink="/tables/normal">{{'Linea Aerea' | i18n}}</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/tables/datatables">{{'Contacto' | i18n}} </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/tables/ngx-datatable">{{'Avión' | i18n}} </a>
    </li>
  </ul>

</li>

    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
