<h3 class="mat-subheading-2">Acciones</h3>

<div class="row text-center">
  <div class="col-md-12">
    <mat-list>
      <mat-list-item>
        <button mat-raised-button color="800" (click)="openCreateDialog()">
          <mat-icon>person_add</mat-icon> Registrar nuevo usuario</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button color="info" routerLink="app/rol">
          <mat-icon >group_work</mat-icon> Gestionar perfiles</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>