<h3 class="mat-subheading-2">Acciones</h3>

<div class="row text-center">
  <div class="col-md-12">
    <mat-list>
      <mat-list-item>
        <button mat-raised-button color="primary" (click)="openCreateDialog()"><mat-icon fontSet="fa" fontIcon="user"></mat-icon> Registrar nuevo usuario</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button color="info"><mat-icon fontSet="fa" fontIcon="list"></mat-icon> Gestionar perfiles</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button color="warn"><mat-icon fontSet="fa" fontIcon="wrench"></mat-icon> Cambiar estado</button></mat-list-item>
    </mat-list>
  </div>
</div>


<ng-template #dialogCreate>
  <div mat-dialog-content>
    <app-cliente-form></app-cliente-form>
  </div>
</ng-template>
