<header id="header" class="animated fadeInDown">
    <div id="logo-group">
        <span id="logo">
            <img src="assets/img/logo_airstrike.png" alt="AirStrike"> </span>
    </div>
    <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">¿Ya tienes cuenta?</span>
        <a routerLink="/acceso/login" class="btn btn-info">Iniciar Sesión</a>
    </span>
</header>
<div id="main" role="main" class="animated fadeInDown">
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-12">

                
            </div>
        </div>
    </div>

</div>