<header id="header" class="animated fadeInDown" style="background-color: black">
        <div id="logo-group">
            <span id="logo">
                <img src="assets/img/logo_airstrike.png" alt="AirStrike"> </span>
        </div>
        <span id="extr-page-header-space">
            <span class="hidden-mobile hiddex-xs">¿Ya tienes cuenta?</span>
            <a routerLink="/acceso/login" class="btn btn-info">Iniciar Sesión</a>
        </span>
    </header>
    <div id="principal" class="animated fadeInDown">
        <div id="content" style="padding: 50px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mat-display-4 txt-color-white" style="text-shadow: 1px 0 dodgerblue;">Consultas sobre vuelos
                        <strong>gratis</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <app-viajar></app-viajar>
                </div>
            </div>
        </div>
    
        <div class="section-area" style="background-color: black; color: white">
            <div class="container">
                <div class="title-section">
                    <h1 style="text-align: center">Universidad de El salvador - Escuela de Sistemas informaticos - Bases de datos</h1>
                    <p style="text-align: center">Esta plataforma ha sido realizada para la materia de base de datos, con objetivos academicos y 
                        sin fines de lucro</p>
                </div>
                <div class="row features">
                    <div class="col-sm-6 feature">
                        <h3>
                            <span class="fa fa-rocket icon-circle"></span> Docente Responsable</h3>
                        <p>Ing. Elmer Carballo</p>
                    </div>
                    <div class="col-sm-6 feature" >
                        <h3 style="text-align: center">
                            <span class="fa fa-comment icon-circle"></span> Desarrollado por</h3>
                        <p style="text-align: center">García Martínez, Kevin Christopher
                            <br>
                            Herrera Márquez, Katya Yanira
                            <br>
                            Mejía Calderón, Jaime Ernesto
                            <br>
                            Martínez Morejón, Miguel Ángel
                            <br>
                            Paiz Orellana, Samuel Geovanny
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    
        <footer class="footer" style="background-color: black">
            <div class="container">
                <div class="row">
                        <h5 class="text-center"> - Redes sociales -</h5>
                        <ul class="list-inline text-center">
                          <li>
                            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li>
                            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                          </li>
                        </ul>
                </div>
            </div>
        </footer>
    
    </div>