<h1 mat-dialog-title>Registro de cliente</h1>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="cliente-form">
      <form class="cliente-form" [formGroup]="clienteForm">
        <div class="row">
          <div class="col-md-12">
            <h3 class="subheading-2">Informacion del usuario</h3>
          </div>
        </div>
        <app-usuario-form [usuarioForm]="clienteForm.get('usuario')"></app-usuario-form>

        <div class="row">
          <div class="col-md 12">
            <label>
              <b>Tipo de cliente</b>
            </label>
            <mat-radio-group formControlName="tipo_cliente" (change)="cambioTipoCliente()">
              <mat-radio-button value="natural">Natural</mat-radio-button>
              <mat-radio-button value="juridico">Juridico</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <ng-container *ngIf="clienteForm.get('tipo_cliente').value != ''">

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput formControlName="primer_nombre" placeholder="ingrese el primer nombre">
                <mat-label>
                  <mat-icon>perm_identity</mat-icon>
                  Primer nombre
                </mat-label>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput formControlName="segundo_nombre" placeholder="ingrese el segundo nombre">
                <mat-label>
                  <mat-icon>perm_identity</mat-icon>
                  Segundo nombre
                </mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput formControlName="primer_apellido" placeholder="ingrese el primer apellido">
                <mat-label>
                  <mat-icon>perm_identity</mat-icon>
                  Primer apellido
                </mat-label>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput formControlName="segundo_apellido" placeholder="ingrese el segundo apellido">
                <mat-label>
                  <mat-icon>perm_identity</mat-icon>
                  Segundo apellido
                </mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field [hideRequiredMarker]="clienteForm.value.hideRequired" [floatLabel]="clienteForm.value.floatLabel">
                <input matInput formControlName="tel_fijo" placeholder="ingrese el telefono fijo">
                <mat-label>
                  <mat-icon>local_phone</mat-icon>
                  Telefono Fijo
                </mat-label>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field [hideRequiredMarker]="clienteForm.value.hideRequired" [floatLabel]="clienteForm.value.floatLabel">
                <input matInput formControlName="tel_movil" placeholder="ingrese el telefono movil">
                <mat-label>
                  <mat-icon>phone_android</mat-icon>
                  Telefono Fijo
                </mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field [hideRequiredMarker]="clienteForm.value.hideRequired" [floatLabel]="clienteForm.value.floatLabel">
                <textarea matInput placeholder="Ingrese la direccion" formControlName="direccion"></textarea>
                <mat-label>
                  <mat-icon>location_city</mat-icon>
                  Direccion
                </mat-label>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="clienteForm.get('tipo_cliente').value =='natural'; then naturalForm; else juridicoForm"></ng-container>
        <ng-template #naturalForm>
          <app-cliente-natural-form [detalleCliente]="clienteForm.get('detalle_natural')"></app-cliente-natural-form>
        </ng-template>
        <ng-template #juridicoForm>
          <ng-container *ngIf="clienteForm.get('tipo_cliente').value =='juridico'">
            <app-cliente-juridico-form [detalleCliente]="clienteForm.get('detalle_empresa')"></app-cliente-juridico-form>
          </ng-container>
        </ng-template>

      </form>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCerrar()">Cerrar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!clienteForm.valid" (click)="registrarCliente()">Registrar</button>
</div>