<div id="content">
  <!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center error-box">
            <h1 class="error-text-2 bounceInDown animated"> Error 404 <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>

            <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Pagina
              <u>No</u> Encontrada</strong></h2>
            <br>

            <p class="lead">
              La pagina que deseas no se ha encontrado, en cualquier caso contacta a un administrador e intenta de nuevo. 
              Usa tu navegador para <b>Regresar</b> e ir a la pagina anterior de donde venias o usa el menu.
            </p>

            <p class="font-md">
              <b>... Esto no te funciono? :( . Contacta al administrador :) </b>
            </p>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-inline">
                  <li>
                    &#xA0;<a (click)="(null)">Dashbaord</a>&#xA0;
                  </li>
                  <li>
                    .
                  </li>
                  <li>
                    &#xA0;<a (click)="(null)">Mi perfil</a>&#xA0;
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
